@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    height: 150px;
    text-align: center;
    background: linear-gradient(to top left, blue, green);
    color: white;
}

.Nombre {
    padding-top: 5px;
}

.tit {
    font-size: 50px;
     /* line-height: calc(20px + 20vh);
   /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
       0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
     color: #fccaff; */
    text-shadow: 0 0 5px #0800ff, 0 0 15px #0800ff, 0 0 20px #0800ff, 0 0 40px #0800ff, 0 0 60px #00ff04, 0 0 10px #0800ff, 0 0 98px #00ff04;
    color: #00ff04;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

.MenuPrincipal {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: cyan;
    border-radius: 30px;
}

.MenuPrincipal a {
    float: left;
    /*font-size: 16px; */
    color: black;
    /*Aquí puedes cambiar el color de letra de los links sin subopciones (Home y News) */
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

aside {
    -ms-flex: 20%;
    /* IE10 */
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}

section {
    -ms-flex: 80%;
    /* IE10 */
    flex: 80%;
    background-color: white;
    padding: 20px;
}

#section_horario{
    text-align: center;
    font-size: 20px;
}


footer {
    padding: 20px;
    text-align: center;
    background-color: #666;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}

li {
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    background: #333;
    line-height: 100px;
    text-align: center;
    color: #666;
    font-size: 3em;
    border-radius: 50%;
    transition: 0.5s;
}

ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--color);
    transform: scale(0.9);
    z-index: -1;
}

ul li:hover::before {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px var(--color);
}

ul li:hover {
    color: var(--color);
    box-shadow: 0px 0px 8px var(--color);
    text-shadow: 0 0 8px var(--color);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    nav a {
        float: none;
        width: 100%;
    }
}


@-webkit-keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #005eff, 0 0 15px #005eff, 0 0 20px #005eff, 0 0 40px #005eff, 0 0 60px #44ff00, 0 0 10px #005eff, 0 0 98px #44ff00;
        color: #00ff04;
    }
}

@keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #005eff, 0 0 15px #005eff, 0 0 20px #005eff, 0 0 40px #005eff, 0 0 60px #44ff00, 0 0 10px #005eff, 0 0 98px #44ff00;
        color: #00ff04;
    }
}
.rotate-in-center {
    width: 500px;
    height: 250px;
    padding: 5px;
    border-radius: 10px;
    background-color: #005eff;
	animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes rotate-in-center {
    0% {
      transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      transform: rotate(0);
      opacity: 1;
    }
  }